<%- include('partials/header.ejs') %>

<% console.log(JSON.stringify(movieResults.results)) %>

<div class="container-fluid">
    <div class="row">
        <% movieResults.results.forEach(function(movie) { %>
            <% console.log(movie) %>
            <div class="movie-container">
                <img class="poster-container" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path%>">
                <div class="movie-panel">
                    <h4 class="movie-title"><%= movie.title %></h4>
                    <p class="movie-info">Released: <%= movie.release_date %></p>
                    <p><%= movie.overview %></p>
                    <form class="more-info-btn" method="GET" action="/search/<%= movie.id %>/results">
                        <input type="text" hidden name="query" id="movieID" value="<%= movie.id %>">
                        <button type="submit" class="btn btn-primary">See Info</button></a>
                    </form>
                    <a class="favorite-button" href=""><i class="far fa-heart"></i></a>
                </div>
            </div>
        <% }); %>
    </div>
</div>